body {
  margin: 0px;
  font-size: 3vh;
  font-family: 'Abril Fatface';
  color: #FFF;
  background: #dcbcbc;
}

#nav{
  display:flex;
  width: 100vw;
  justify-content: space-around;
  position: fixed;
  padding-left: 0;
  top: 0;
  left: 0;
  z-index: 1;
  list-style: none;
}

#nav a{
  text-decoration: none;
  color: #FFF;
  padding: 1vw;
  background-color:rgba(192,192,192,0.3);
  border-radius: 5%;
}
#nav a:hover{
  background-color:rgba(192,192,192,1);  
}

#nav a.active{
  background-color:rgba(192,192,192,1);  
}

.landing {
  background: #dcbcbc;
  
}

#banner {
  position: absolute;
  top: 15vh;
  text-align: center;
  width: 100%
  
}

.logo{
  text-align: center;
  font-size: 20vh;
  background: url(./img/floral.png) repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.reading{
  box-sizing: border-box;
  background: #757547;
}

.watching{
  box-sizing: border-box;
  background: #B8B894;
}

.doing{
  box-sizing: border-box;
  background: #993333;
}

.info{
  box-sizing: border-box;
  background: #6E8B8B;
  padding-top: 15vh;
  padding-bottom: 20vh;
  display: flex;

}

#contact-icons{
  width: 25vw;
  height: 60vh;
  font-size: 20vh;
}

#contact-text{
  width: 75vw;
  height: 60vh;
  font-size: 5vh;
  line-height: 17vh;
  vertical-align: middle;
}

.icon{
  display: block;
  margin-left: 5vw;
  margin-top: 4vh;
  margin-bottom: 4vh;
}

/*.fp-controlArrow fp-prev{
  position: absolute;
  bottom: 20vh;
}

.fp-controlArrow .fp-next{
  position: absolute;
  bottom: 20vh;
}*/

.slide {
  box-sizing: border-box;
  padding-top: 6vh;
  padding-left: 6vw;
}





